.table {
    margin-top: 20px;
    color: #6a5d5d;
    background-color: white;
    height: 400px;
  }
  
  .table tr {
    display: flex;
    justify-content: space-between;
  }
  
  .table td {
    padding: 0.5rem;
    border: none;
    font-weight: 600;
    
  }
  
  .table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
  }